In [13]:
import os 
import pandas as pd 
import numpy as np
file_to_load = os.path.join("Resources_CTCF","CTCF_export.bed")

In [14]:
# Load in and read the bed file
df = pd.read_csv(file_to_load, sep = '\t', header = None)

In [15]:
# Check to make sure the bed file shows 
df.head()

      0        1        2
0  chr1  1382275  1382774
1  chr1  1647975  1648524
2  chr1  1918925  1919699
3  chr1  6343350  6343874
4  chr1  9867375  9867874

In [16]:
# Check the data types of the bed file columns 
df.dtypes

0    object
1     int64
2     int64
dtype: object

In [17]:
# Create bumper input 
input_value = int(input('Bumper Amount:'))

Bumper Amount:2000000

In [18]:
# Show column names  
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [19]:
# Subtract bumper input from column 1 and add to column 2 
df[1] = df[1]- input_value
df[2] = df[2]+ input_value

In [20]:
df.head()

      0        1         2
0  chr1  -617725   3382774
1  chr1  -352025   3648524
2  chr1   -81075   3919699
3  chr1  4343350   8343874
4  chr1  7867375  11867874

In [24]:
# Set df[1] to 0 if negative 
df[1] = df[1].where(df[1] >= 0, 0)

In [29]:
df.head()

      0        1         2
0  chr1        0   3382774
1  chr1        0   3648524
2  chr1        0   3919699
3  chr1  4343350   8343874
4  chr1  7867375  11867874

In [ ]:
# Save the new dataframe 
df = pd.DataFrame(chrom_file)
df.to_csv('chrom_file.csv', encoding='utf-8', index = False, header= None)