In [1]:
import os 
import pandas as pd 
file_to_load = os.path.join("Resources_CTCF","CTCF_export.bed")

In [2]:
os.getcwd()

'/Users/bg/Desktop/Class Folder Bootcamp/CTCF_export'

In [3]:
df = pd.read_csv(file_to_load, sep = '\t', header = None)
df.head()

      0        1        2
0  chr1  1382275  1382774
1  chr1  1647975  1648524
2  chr1  1918925  1919699
3  chr1  6343350  6343874
4  chr1  9867375  9867874

In [4]:
df.shape

(669, 3)

In [5]:
#Collect the length of the dataframe to be used in equation
CTCF = len(df)
CTCF

669

In [8]:
#Creat input for the integer to represent the percentage. 
percent_input = int(input("Enter Percentage:"))
deliverables = round(CTCF/percent_input)
deliverables

Enter Percentage:20

33

In [7]:
# Set variables for chunksize, label batches of data(batch_no)
chunk_size = deliverables
batch_no = 1

In [ ]:
#Break into chunk and iterate through the chunked data. Also save chuked data into seperate folders 
for chunk in pd.read_csv(file_to_load ,chunksize=chunk_size):
    chunk.to_csv('Analysis_CTCF' + str(batch_no)+ '.txt')
    batch_no +=1

In [ ]:
# Code below is trial codes that worked partially

In [ ]:
start = 0
end = 669

In [ ]:
# How to break bed files up into chunks in python
# Use range to split the list into evenly sized chunks 
for x in range(start,end,deliverables):
    CTCF_1 = df[x:x+deliverables]
    print(CTCF_1)

In [ ]:
#Export the dataset chunks to txt.file (This only saves the last file)
CTCF_1.to_csv("CTCF_anlysis"+ str(batch_no) + '.txt')
batch_no +=1

In [9]:
#Select for the percentage of data (This code selects for percentages but it has to manually be input)
def frac(dataframe,fraction, other_info=None):
    return dataframe.sample(frac=fraction)
df_1 = frac(df,0.1)
df_1

         0          1          2
299   chr9   25472625   25473124
547  chr18   46152625   46153299
390  chr12    4307825    4308499
375  chr11   67505750   67506649
104   chr3   19594375   19594824
..     ...        ...        ...
56    chr1  241050200  241050699
645  chr22   15792225   15792874
594  chr20   29409250   29409699
401  chr12   51980375   51980674
52    chr1  210653850  210654224

[67 rows x 3 columns]